<h1>Friends list</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Last name</td>
    <td></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let friend of friends">
    <ng-template [ngTemplateOutlet]="loadTemplate()"
                 [ngTemplateOutletContext]="{ $implicit: friend}">
    </ng-template>
  </tr>
  </tbody>
</table>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-friend>
  <td>{{friend.id}}</td>
  <td>
    <input type="button" value={{friend.name}} (click)="getById(friend.id)" class="btn btn-success"/>
  </td>
  <td>{{friend.lastName}}</td>
  <td>
    <p *ngIf="(myId===userId)">
      <input type="button" value="Dialog" (click)="getDialog(friend.id)" class="btn btn-success"/>
    </p>
  </td>
  <td>
    <p *ngIf="(myId===userId)">
      <input type="button" value="Delete" (click)="deleteFriend(friend)" class="btn btn-danger"/>
    </p>
  </td>
</ng-template>
