<h1>Dialogs</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Dialogs</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let dialog of dialogs">
    <ng-template [ngTemplateOutlet]="loadTemplate()"
                 [ngTemplateOutletContext]="{ $implicit: dialog}">
    </ng-template>
  </tr>
  </tbody>
</table>

<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-dialog>
  <td>
    <input type="button" value={{dialog.header}} (click)="getById(dialog.id)" class="btn btn-success"/>
  </td>
  <td>
    <input type="button" value="Delete" (click)="deleteDialog(dialog.id)" class="btn btn-danger"/>
  </td>
</ng-template>
